project:
  type: website
  output-dir: docs

website:
  title: "Bilguun Boldbaatar's personal website"
  navbar:
    right:
      - text: About
        href: about.qmd
      - icon: github
        href: https://github.com/Billy0624
format:
  html:
    theme: cosmo
    css: styles.css



